@font-face {
    font-family: 'bdh';
    src: url("font/온글잎 박다현체.ttf");
}

@font-face {
    font-family: 'cookie';
    src: url("font/CookieRun Regular.ttf");
}


h1 {
    color: rgb(95, 95, 95);
    margin-bottom: 100px;
    text-align: center;
    font-family: 'cookie';
    font-size:100px;
}


#foont {
    color:rgb(64, 148, 148);
    font-size:50px;
    font-family: 'bdh';
    margin-left: 50px;
}
